.aboutMain {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.aboutImg{
    border-radius: 100%;
    width: 200px;
    margin-left: 32px;
}

.dividerContainer{
    height: 10px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.divider{
    width: 150px;
    height: 3px;
    background-color: #4286f4;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .aboutMain {
        margin: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutImg {
        margin-left: 0;
    }

    .aboutMeJsonContainer{
        text-align: left;
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
}