.expInfo{
    display: block;
    height: 200px;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .3s ease;

    cursor: pointer;
}

.expInfo:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    background-color: #ddd;

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.expTitleContainer{
    float: left;
    width: 35%;
    text-align: center;

}

.expTitleContainer h4{
    padding-bottom: 0;
    margin-bottom: 0;
}

.expTitleContainer p{
    font-size: 10px;
    color: #333;
    padding: 0;
    margin: 5px 0;
}

.expTitleContainer img{
    margin-top: 15px;
    margin-bottom: -15px;
}

.expDescContainer{
    padding-top: 8px;
    margin-left: 35%;
}



