.experienceList{
    margin: 0 auto;
}

.expInfo{
    display: block;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;

    transition: all .1s ease;
}

.expInfo:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.expTitleContainer{
    float: left;
    width: 35%;
    text-align: center;

}

.expTitleContainer h4{
    padding-bottom: 0;
    margin-bottom: 0;
}

.expTitleContainer p{
    font-size: 10px;
    color: #333;
    padding: 0;
    margin: 5px 0;
}

.expDescContainer{
    padding-top: 8px;
    margin-left: 35%;
}

.expLogo{
    margin-top: 40px;
    width: 70px;
}

@media only screen and (max-width: 800px){
    .expInfo {
        height: unset;
        padding: 0 16px;
    }

    .expTitleContainer{
        width: unset;
    }

    .expDescContainer{
        margin-left: 40%;
    }
}


