.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.mainContent{
    margin-top: 5vh;
}

.left{
    width: 36%;
    float: left;
    align-items: center;
}

.right{
    margin-left: 36%;
    text-transform: none;
    padding-top: 25px;
}

.hiddenContent{
    text-transform: none;
}