@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("layout.css");
@import url('mainlinks.css');
@import url('footer.css');
@import url("about.css");
@import url('skillset.css');
@import url("experience.css");
@import url("contact.css");

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

ul,li{
    list-style: none;
    padding-left: 0px; /*OVERRIDES normalize.css*/
}

.link{
    text-decoration: none;
    color: #4286f4;
    opacity: 1;
    position: relative;
}

.link:hover{
    opacity: 0.7;
}

h2{
    margin: 0 auto;
    font-size: 18px;
    text-transform: uppercase;
}

#name{
    text-transform: uppercase;
    cursor: default;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

#underscore{
    color: #4286f4;
    font-size:28px;
}


