.skillListContainer{
    position: relative;
    margin-top:64px;

}

.skillCategoriesList{
    margin-left: 20px;
}

.skill{
    padding-left: 25px;
}
.skillName {
    width: 100px;
    display: inline-block;
}

.skill-value{
    display: inline-block;
    height: 16px;
    width: 50px;
}

.skillLine{
    width: 1px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    z-index: -1;
}

.skillLineDesc{
    color: #aaa;
    font-size: 10px;
    display: block;
    margin-top: -20px;
    
    -ms-transform: rotate(-35deg) translate(-35px, 0); /* IE 9 */
    -webkit-transform: rotate(-35deg) translate(-35px, 0); /* Chrome, Safari, Opera */
    transform: rotate(-35deg) translate(-12px, -27px);
    width: 72px;
}

@media only screen and (max-width: 800px){
    .skillListContainer{
        margin-top: 96px;
        display: flex;
        justify-content: center;
        /*zoom: 58%;*/
    }
    .skillCategory {
        text-align: left;
    }
    .skillsList {
        text-align: left;
    }


    .skillListInnerContainer{
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .skillListContainer{
        zoom: 71%;
    }
}