/*
  Written by Jonathan Vicente
  https://codepen.io/jwv/pen/adONxo
*/
a{
    color: #000;
    text-decoration: none;
    display:inline-block;
    position: relative;
    overflow: hidden;
    padding:0 6px;
    text-transform: uppercase;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
}

a:hover{
  color:#fff;
}

.mainLink{
  text-transform: uppercase;
  position: relative;
  z-index:1;
  padding:2px 6px;
}

.mainLink:after {
  position: absolute;
  top:0; bottom: 0;
  right: 0;left: 0;
  display: block;
  background-color: #000;
  content: "";
  transform: translate3d(0,100%,0);
  z-index:-1;
}

.mainLink:hover:after {
  transform: translate3d(0,0,0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

.mainLink:hover{
  color: #fff;
}