@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('mainlinks.css');

*{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.mainContent{
    margin-top: 150px;
}

.left{
    width: 50%;
    float: left;
    align-items: center;
}

.right{
    margin-left: 50%;
    text-transform: none;
}

#name{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    cursor: default;
}