@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.left{
    width: 50%;
    float: left;
    align-items: center;
}

.right{
    margin-left: 50%;
}

a{
    color: #000;
    text-decoration: none;
    display:inline-block;
    position: relative;
    overflow: hidden;
    padding:0 6px;
    text-transform: uppercase;
    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
}

a:hover{
  color:#fff;
}

.mainLink{
  position: relative;
  z-index:1;
  padding:2px 6px;
}

.mainLink:after {
  position: absolute;
  top:0; bottom: 0;
  right: 0;left: 0;
  display: block;
  background-color: #000;
  content: "";
  transform: translate3d(0,100%,0);
  z-index:-1;
}

.mainLink:hover:after {
  transform: translate3d(0,0,0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

.mainLink:hover{
  color: #fff;
}

#name{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    cursor: default;
}